<!-- @author Stefan Bierenriede 852142, Marvin Gels 868603 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>
    <style>

/*Navbar aus: https://www.w3schools.com/howto/howto_css_fixed_menu.asp#:~:text=To%20create%20a%20fixed%20top%20menu%2C%20use%20position%3Afixed%20and,the%20height%20of%20your%20menu.*/

    /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  width:8%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  width:8%;
}

.main {
  padding: 16px;
  margin-top: 30px;
}
    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="left-column">
            <div class="navbar">
                <a href="/hauskreationen/">Hauskreationen</a>
                <a href="/eigenkreationen/">Eigenkreationen</a>
                <a href="/bestellungen/">Bestellungen</a>
                <a href="/eis/">Eissorten</a>
                <a href="/zutaten/">Zutaten</a>
                <a href="/saucen/">Saucen</a>
                <a href="/nutzer/{">Nutzer</a>
            </div>
            <div class="main">
                <h1>Die gesuchte Bestellung:</h1>
                <ul>
                    <p>
                        <h2>Eigenkreationen:</h2>
                        {#for postenEigen in bestellungDTO.bestellpostenEigenDTO}
                            <p>
                                <h4>{postenEigen.anzahl} x {postenEigen.eigenkreationDTO.name}, {postenEigen.preis} €</h4>
                                <!-- <p><strong>Preis:</strong> {postenEigen.preis}</p> -->
                                <input type="submit" value="Ansehen" form="get_{postenEigen.id}" class="cta-button">
                                <form action="/eigenkreationen/{postenEigen.eigenkreationDTO.id}" method="GET" id="get_{postenEigen.id}">
                                    <input type="hidden" name="EigenkreationsId" id="get_{postenEigen.id}" value="{postenEigen.id}">
                                </form>
                                {#if bestellungDTO.bestellt == false}
                                    <input type="submit" value="Loeschen" form="delete_{postenEigen.id}" class="cta-button">
                                    <form action="/bestellungen/{bestellungDTO.id}/eigenposten/{postenEigen.id}/loeschen" method="POST" id="delete_{postenEigen.id}">
                                        <input type="hidden" name="EigenkreationsId" id="delete_{postenEigen.id}" value="{postenEigen.id}">
                                    </form>
                                {/if}
                            </p> 
                        {/for}
                        <h2>Hauskreationen:</h2>
                        {#for postenHaus in bestellungDTO.bestellpostenHausDTO}
                            <p>
                                <h4>{postenHaus.anzahl} x {postenHaus.hauskreationDTO.name}, {postenHaus.preis} €</h4>
                                <!-- <p><strong>Preis:</strong> {postenHaus.preis}<p> -->
                                <input type="submit" value="Ansehen" form="get_{postenHaus.id}" class="cta-button">
                                <form action="/hauskreationen/{postenHaus.hauskreationDTO.id}" method="GET" id="get_{postenHaus.id}">
                                    <input type="hidden" name="HauskreationsId" id="get_{postenHaus.id}" value="{postenHaus.id}">
                                </form>
                                {#if bestellungDTO.bestellt == false}
                                    <input type="submit" value="Loeschen" form="delete_{postenHaus.id}" class="cta-button">
                                    <form action="/bestellungen/{bestellungDTO.id}/hausposten/{postenHaus.id}/loeschen" method="POST" id="delete_{postenHaus.id}">
                                        <input type="hidden" name="HauskreationsId" id="delete_{postenHaus.id}" value="{postenHaus.id}">
                                    </form>
                                {/if}
                            </p> 
                        {/for}
                        {#if bestellungDTO.bestellt == false}
                            <input type="submit" value="Bestellung abschicken" form="post_{bestellungDTO.id}" class="cta-button">
                            <form action="/bestellungen/" method="POST" id="post_{bestellungDTO.id}">
                                <input type="hidden" name="BestellungId" id="post_{bestellungDTO.id}" value="{bestellungDTO.id}">
                            </form>
                        {/if}
                    </p>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>