<!-- @author Stefan Bierenriede 852142, Marvin Gels 868603 -->

<!DOCTYPE html>
<html>
<head>
<style>
.capsToCapitalize {
  text-transform: lowercase;
  display: inline-block;
}

.capsToCapitalize::first-line {
  text-transform: capitalize;
}    
    /*Navbar aus: https://www.w3schools.com/howto/howto_css_fixed_menu.asp#:~:text=To%20create%20a%20fixed%20top%20menu%2C%20use%20position%3Afixed%20and,the%20height%20of%20your%20menu.*/

    /* The navigation bar */

/* The navigation bar */
.navbarallergene {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbarallergene input[type=button] {
  float: left;
  display: block;
  background-color: #333;
  color:#f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  width: 10%;
}

/* Change background on mouse-over */
.navbarallergene input[type=button]:hover {
  background: #ddd;
  color: black;
  width: 10%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  width:8%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  width:8%;
}

.main {
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
} 
</style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Eigenkreation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p> 
        <div class="navbar">
            <a href="/hauskreationen/">Hauskreationen</a>
            <a href="/eigenkreationen/">Eigenkreationen</a>
            <a href="/bestellungen/">Bestellungen</a>
            <a href="/eis/">Eissorten</a>
            <a href="/zutaten/">Zutaten</a>
            <a href="/saucen/">Saucen</a>
            <a href="/nutzer/">Nutzer</a>
        </div>
        <div class="main"> 
            <p>
                <h2>{eigenkreationDTO.name}</h2>
            </p>
            <p>
                <ul>
                    <p>
                        <strong>Eissorte</strong>
                        <li>{eigenkreationDTO.eissorte.name}</li>
                        {#if eigenkreationDTO.eissorte.id != eigenkreationDTO.eissorte2.id}
                            <li>{eigenkreationDTO.eissorte2.name}</li>
                        {/if}
                    </p>
                    <p>
                        <strong>Toppings</strong>
                        {#for zutat in eigenkreationDTO.zutaten}
                            <li>
                                {zutat.name}
                            </li>
                        {/for}
                    </p>
                    {#if eigenkreationDTO.sauce != null}
                        <p>
                            <strong>Soße</strong>
                            <li>
                                {eigenkreationDTO.sauce.name}
                            </li>
                        </p>
                    {/if}
                    <p>
                        <strong>Allergene</strong>
                        {#for allergen in eigenkreationDTO.allergene}
                            <li><div class="capsToCapitalize"> {allergen}</div></li>
                        {/for}
                    </p>
                </ul>
                <strong>Preis:</strong> {eigenkreationDTO.preis} €
            </p>

            




            <p>Aendere jetzt deinen Becher fuer eine noch bessere Kreation!</p>
            <form action="erstellen" autocomplete="off">
              <div class="form-group py-3">
                <input type="text" class="cta-input" name="name" placeholder="Name" id="name" value={eigenkreationDTO.name} required>
              </div>
              <details>
                <summary>Eis</summary>
                  <fieldset>
                    {#for eis in eisDTO}
                      <div class="form-group py-3">
                        {#if eigenkreationDTO.eissorte.id == eis.id && eigenkreationDTO.eissorte2.id == eis.id}
                            <input type="radio" id="{eis.id}" name="eis" value="{eis.id}" required checked>
                            <input type="radio" id="{eis.id}" name="eis2" value="{eis.id}" required checked>
                        {#else if eigenkreationDTO.eissorte.id == eis.id} 
                            <input type="radio" id="{eis.id}" name="eis" value="{eis.id}" required checked>
                            <input type="radio" id="{eis.id}" name="eis2" value="{eis.id}">
                        {#else if eigenkreationDTO.eissorte2.id == eis.id}
                            <input type="radio" id="{eis.id}" name="eis" value="{eis.id}" required>
                            <input type="radio" id="{eis.id}" name="eis2" value="{eis.id}" checked>
                        {#else}
                            <input type="radio" id="{eis.id}" name="eis" value="{eis.id}" required>
                            <input type="radio" id="{eis.id}" name="eis2" value="{eis.id}">
                        {/if}
                        {eis.name}<br />
                      </div>
                    {/for}
                  </fieldset>
                </details>
                <details>
                  <summary>Zutaten</summary>
                  <fieldset>
                    {#for zutat in zutatenDTO}
                      <div class="form-group py-3">
                        <input type="checkbox" id="{zutat.id}" name="zutat" value="{zutat.id.toString}"> {zutat.name}<br />
                      </div>
                    {/for}
                  </fieldset>
                </details>
                <details>
                  <summary>Sauce</summary>
                  <fieldset>
                    {#for sauce in sauceDTO}
                      <div class="form-group py-3">
                        {#if eigenkreationDTO.sauce != null}
                          {#if eigenkreationDTO.sauce.id == sauce.id}
                            <input type="radio" name="sauce" id="{sauce.id}" value="{sauce.id}" checked> {sauce.name} <br />
                          {#else}
                            <input type="radio" name="sauce" id="{sauce.id}" value="{sauce.id}"> {sauce.name} <br />
                          {/if}
                        {#else}
                          <input type="radio" name="sauce" id="{sauce.id}" value="{sauce.id}"> {sauce.name} <br />
                        {/if}
                      </div>
                    {/for}
                  </fieldset>
                </details>
  
              <div class="row px-3 py-3">
                  <input type="submit" formaction="/eigenkreationen/{eigenkreationDTO.id}/put/" formmethod="post" class="cta-button">
              </div>
            </form>
            <script>
            function insertParam(key, value) {
                key = escape(key); value = escape(value);

                var currentURL = window.location.href;
                    if(currentURL.includes(value)){
                        var zuEntfernen = key + "=" + value;
                        if(currentURL.includes("&" + zuEntfernen)){
                            currentURL = currentURL.replace("&" + zuEntfernen,'');
                        }else{
                            if(currentURL.includes("&")){
                                currentURL = currentURL.replace(zuEntfernen + "&", '');
                            }else{
                                currentURL = currentURL.replace("?" + zuEntfernen, '');
                            }
                        }
                    }else{
                    if(currentURL.includes("?")){
                        currentURL += "&";
                    }else{
                        currentURL += "?";
                    }
                currentURL +=  key + "=" + value
                }
                window.location.href = currentURL;
            }
            </script>
            <div class="navbarallergene">
                <input type="button" onclick="insertParam('Allergene','ALKOHOL')" value = 'Alkohol'>
                <input type="button" onclick="insertParam('Allergene','EI')" value = 'Ei'>
                <input type="button" onclick="insertParam('Allergene','GELATINE')" value = 'Gelatine'>
                <input type="button" onclick="insertParam('Allergene','GLUTEN')" value = 'Gluten'>
                <input type="button" onclick="insertParam('Allergene','HONIG')" value = 'Honig'>
                <input type="button" onclick="insertParam('Allergene','KOFFEIN')" value = 'Koffein'>
                <input type="button" onclick="insertParam('Allergene','LAKTOSE')" value = 'Laktose'>
                <input type="button" onclick="insertParam('Allergene','NUSS')" value = 'Nuss'>
                <input type="button" onclick="insertParam('Allergene','SUESSSTOFF')" value = 'Suessstoff'>
                <input type="button" onclick="insertParam('Allergene','VEGAN')" value = 'Vegan'>
            </div>
            

        </div>
    </p>
</body>
</html>