<!DOCTYPE html>
<html>
<head>
<style>
    .capsToCapitalize {
        text-transform: lowercase;
        display: inline-block;
    }

    .capsToCapitalize::first-line {
        text-transform: capitalize;
    }     
</style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Einzelkreation
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p> 
        {eigenkreationDTO.name}
        {eigenkreationDTO.eissorte.name}
        {eigenkreationDTO.eissorte2.name}
        {#for zutat in eigenkreationDTO.zutaten}
            {zutat.name}
        {/for}
        {eigenkreationDTO.sauce.name}
        {#for allergen in eigenkreationDTO.allergene}
            <div class="capsToCapitalize"> {allergen}</div>
        {/for}
    </p>
</body>
</html>