<!DOCTYPE html>
<html>
<head>
<style>
    .capsToCapitalize {
        text-transform: lowercase;
        display: inline-block;
    }
        
    .capsToCapitalize::first-line {
        text-transform: capitalize;
    }
</style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Eis</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="left-column">
            <h1>Eis</h1>
            <p>
                <h2>{eisDTO.name}</h2>
            </p>
            <p>
                <ul>
                    {#if eisDTO.allergene.size > 0}
                        <strong>Allergene</strong>
                        {#for allergen in eisDTO.allergene}
                            <li><div class="capsToCapitalize"> {allergen}</div></li>
                        {/for}
                    {/if}
                </ul>
            </p>
        </div>
    </div>   
</body>
</html>